
.Button{
  display:inline-block;
  background-color: transparent;
  border:none;
  outline: none;
  position:relative;
  padding: 10px 20px;
  font-size:18px;
}
.Button span{
 position:absolute;
 background-color: #fff;
 display: block;
 transition: all 0.25s linear;
}

.Button span:nth-child(1) {
  top: 0;
  right: 0;
  width:0;
  height:2px;
}

.Button span:nth-child(2) {
  top: 0;
  right: 0;
  width:2px;
  height:0;
  transition-delay:0.25s;
}

.Button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width:0;
  height:2px;
}

.Button span:nth-child(4) {
  bottom: 0;
  left: 0;
  width:2px;
  height:0;
}

.Button:hover span:nth-child(odd){
  width:100%;

}

.Button:hover span:nth-child(even){
  height:100%;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 9999; /* Đảm bảo nút hiển thị trên các phần khác trên trang */
}

.back-to-top.show {
  display: block;
  opacity: 0.5;
}

.back-to-top:hover {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top.clicked {
  animation: spin 1s linear;
}

/* Thêm phần tử này để tạo sự tương tác trên điện thoại và iPad */
.back-to-top:active {
  opacity: 1;
}




@media (min-width: 839px) {
  .menu-container {
    display: none;
    width:100%;
  }
}
.drawer-menu {
  .ant-drawer-body {
    padding: 0;
  }
}
.menu-icon {
  display: block;
  margin-bottom:15px;
  margin-top:15px;
  margin-left:15px;
  font-size:10px;
  background:green;
  font-weight:700;
}

@media (max-width: 839px) {
  .headerMenu{
    display: none;
  }
}
