.Chatbox {
    text-align: center;
  }
  
  .Chatbox-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Chatbox-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Chatbox {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .Chatbox {
    color: #61dafb;
  }
  
  @keyframes Chatbox {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .float-contact {
      position: fixed;
      bottom: 60px;
      
  }
  .chat-facebook {
      margin: 10px;
  }
  .chat-facebook img {
      width: 40px;
      height: 40px;
      border-radius:20px
  }
